// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//index
#i_name, #i_price, #i_description {
  text-align: left;
}

#thumbnail_btn {
  text-align: right;
}

//show
#item_show {
  width: 500px;
  text-align: left;
  margin: 0 auto
}

.dept_header {
  padding: 0 0 20px 30px;;
  text-align: left;

}
